/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

AnchorPane {
	-fx-background-image: url(/imgs/back.jpg);
	-fx-background-size: cover;
	-fx-background-position:center center;
}